@using CinemaTicketSystem.Domain.Entities
@model CinemaTicketSystem.Domain.Entities.Showing
@{
    ViewBag.Title = "CreateStepThree";
}
<div style="text-align: center">
<h1>Betalingsbevestiging</h1>
</div>
<hr />
<div class="card text-center">
    <div class="card-body">
        <dl class="dl-horizontal">
            <dt>
                Filmnaam
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Movie.Name)
            </dd>
            <dt>
                Zaalnummer
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Room.Name)
            </dd>
            <dt>
                Begintijd film
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Start)
            </dd>
            <dt>
                Duur film
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Movie.LengthInMinutes) Minuten
            </dd>
            <dt>
                Taal
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Movie.SpokenLanguage)
            </dd>
            <dt>
                Film in 3D?
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Is3D)
            </dd>
            <dt>
                Rolstoeltoegankelijk?
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Room.WheelchairAccesible)
            </dd>
            <dt>
                Aantal tickets
            </dt>
            <dd>

            </dd>
            <dt>
                Totaalprijs
            </dt>
            <dd>
                   
            </dd>
            
        </dl>
            <div class="btn-group" >
                <a href="@Url.Action("Index", "Home")" class="btn btn-primary" style="margin-right: 20px;">Annuleer</a>
                <a href="@Url.Action("CreateStepFour", "Order",new { id = Model.Id })" class="btn btn-primary">Reserveer</a>
            </div>
    </div>
</div>