@model CinemaTicketSystem.Domain.Entities.Order

@{
    ViewBag.Title = "Uw ticket(s)";
}

<h2>Uw ticket(s)</h2>

<div>
    <h4>Bestelling nr. @Model.OrderNumber voor @Model.Showing.Movie.Name</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Locatie
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Showing.Room.Location.Name)
        </dd>
        <dt>
            Zaal
        </dt>
        <dd>
            @Model.Showing.Room.Name
        </dd>
        <dt>
            Stoelen
        </dt>
        <dd>
            @Model.OrderSeats
        </dd>
        <dt>
            Tijd
        </dt>
        <dd>
            @Model.Showing.Start
        </dd>
        <dt>
            Aantal tickets
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumberOfTickets)
        </dd>

        <dt>
            Totaal prijs
        </dt>

        <dd>
            € @Html.DisplayFor(model => model.TotalPrice)
        </dd>

        <dt>
            Besteld op
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
    </dl>
</div>
