@model CinemaTicketSystem.Domain.Entities.Survey

@{
    ViewBag.Title = "Create";
}


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4 style="color:white!important">Alvast bedankt voor het invullen van onze enquete!</h4>
        <p style="color:white!important">Als eerst hebben we een aantal vragen over uw ervaring, die u van 1 t/m 10 kunt waarderen, waarvan 10 het hoogst is</p>
        <p>Als laatst hebben we nog een optioneel vak voor eventuele opmerkingen of suggesties</p>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.Label("Uw ervaring of het algemeen", htmlAttributes: new { @class = "control-label col-md-2", style = "color:white!important" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OverallExperience, new { htmlAttributes = new { @min = "1", @max = "10", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.OverallExperience, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Uw ervaring van de film zelf", htmlAttributes: new { @class = "control-label col-md-2", style = "color:white!important" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MovieExperience, new { htmlAttributes = new { @min = "1", @max = "10", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MovieExperience, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Uw ervaring of de bereikbaarheid", htmlAttributes: new { @class = "control-label col-md-2", style = "color:white!important" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TravelExperience, new { htmlAttributes = new { @min = "1", @max = "10", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TravelExperience, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Uw ervaring met onze toiletten", htmlAttributes: new { @class = "control-label col-md-2", style = "color:white!important" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BathroomExperience, new { htmlAttributes = new { @min = "1", @max = "10", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BathroomExperience, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Uw ervaring met onze winkel", htmlAttributes: new { @class = "control-label col-md-2", style = "color:white!important" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ShopExperience, new { htmlAttributes = new { @min = "1", @max = "10", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ShopExperience, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Uw ervaring met ons eten", htmlAttributes: new { @class = "control-label col-md-2", style = "color:white!important" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FoodExperience, new { htmlAttributes = new { @min = "1", @max = "10", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FoodExperience, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Uw ervaring met ons personeel", htmlAttributes: new { @class = "control-label col-md-2", style = "color:white!important" })})
            <div class="col-md-10">
                @Html.EditorFor(model => model.StaffExperience, new { htmlAttributes = new { @min = "1", @max = "10", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.StaffExperience, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Uw opmerking(en) of suggestie(s)", htmlAttributes: new { @class = "control-label col-md-2", style = "color:white!important" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Comment, new { htmlAttributes = new { @min = "1", @max = "10", @class = "form-control"}, })
                @Html.ValidationMessageFor(model => model.Comment, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Verstuur" class="btn btn-default" style="color:white!important;background-color:red" />
            </div>
        </div>
    </div>
}
