@{
    ViewBag.Title = "Index";
    List<string> comments = ViewBag.Comments;
    Dictionary<string, double> statistics = ViewBag.Results;
}

<div>
    <h4 style="color:white!important">Statistieken van de tot nu toe afgenomen enquetes</h4>
    <hr />
    <dl class="dl-horizontal" style="color:white!important">
        <dt>
            Totaal aantal surveys
        </dt>

        <dd style="color:white!important">
            @(statistics["Total"].ToString())
        </dd>

        <dt>
            Gemiddelde totaal beoordeling
        </dt>

        <dd style="color:white!important">
            @(statistics["Overall"].ToString())
        </dd>

        <dt>
            Gemiddelde film beoordeling
        </dt>

        <dd style="color:white!important">
            @(statistics["Movie"].ToString())
        </dd>

        <dt>
            Gemiddelde bereikbaarheid beoordeling
        </dt>

        <dd style="color:white!important">
            @(statistics["Travel"].ToString())
        </dd>

        <dt>
            Gemiddelde toiletten beoordeling
        </dt>

        <dd style="color:white!important">
            @(statistics["Bathroom"].ToString())
        </dd>

        <dt>
            Gemiddelde winkel beoordeling
        </dt>

        <dd style="color:white!important">
            @(statistics["Shop"].ToString())
        </dd>

        <dt>
            Gemiddelde voedsel beoordeling
        </dt>

        <dd style="color:white!important">
            @(statistics["Food"].ToString())
        </dd>

        <dt>
            Gemiddelde personeel beoordeling
        </dt>

        <dd style="color:white!important">
            @(statistics["Staff"].ToString())
        </dd>

    </dl>
</div>
