@model CinemaTicketSystem.WebUI.Models.MovieDetails

@{
    ViewBag.Title = "Details";
}

<div class="row">
    <div class="col-12 mb-2">
        <div class="border p-2 h-100">
            <div class="row">
                <div class="col-sm-5 text-center">
                    <img src="@Model.Movie.ImageUrl" alt="@Model.Movie.Name" class="img-fluid">
                </div>
                <div class="col-sm-7 d-flex flex-column">
                    <h3>@Model.Movie.Name</h3>
                    <p>@Model.Movie.ShortDescription</p>
                    <dl class="row">
                        <dt class="col-4">Taal:</dt>
                        <dd class="col-8">@Model.Movie.SpokenLanguage</dd>
                        <dt class="col-4">Ondertiteling:</dt>
                        <dd class="col-8">@Model.Movie.SubtitleLanguage</dd>
                        <dt class="col-4">Duur:</dt>
                        <dd class="col-8">@Model.Movie.LengthInMinutes.ToString() minuten</dd>
                        <dt class="col-4">Minimale leeftijd:</dt>
                        <dd class="col-8">@Model.Movie.MinimumAge.ToString()</dd>
                        <dt class="col-4">Regiseur:</dt>
                        <dd class="col-8">@Model.Movie.Director</dd>
                        <dt class="col-4">Trailer:</dt>
                        <dd class="col-8">@Model.Movie.Trailer</dd>
                        <dt class="col-4">IMDB:</dt>
                        <dd class="col-8">@Model.Movie.Imdb</dd>
                        <dt class="col-4">Website:</dt>
                        <dd class="col-8">@Model.Movie.WebLink</dd>
                        <dt class="col-4">Laatste voorstelling:</dt>
                        <dd class="col-8">@Model.Movie.LastShowDate.ToShortDateString()</dd>
                    </dl>
                    <div class="row">
                        @foreach (var showing in Model.Showings)
                        {
                            <div class="col-md-6">
                                <div class="border p-2 h-100 clearfix">
                                    <dl class="row">
                                        <dt class="col-sm-4 col-xs-12">Start:</dt>
                                        <dt class="col-sm-8 col-xs-12">@showing.Start.ToString()</dt>
                                        <dt class="col-sm-4 col-xs-12">Zaal:</dt>
                                        <dt class="col-sm-8 col-xs-12">@showing.Room.Name</dt>
                                        <dt class="col-sm-4 col-xs-12">Prijs:</dt>
                                        <dd class="col-sm-8 col-xs-12">&euro; @string.Format("{0:N2}", ViewBag.PriceCalculator.CalculatePrice(showing))</dd>
                                    </dl>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            @if(showing.Room.WheelchairAccesible)
                                            {
                                                <span class="oi oi-bold" aria-hidden="true" title=">Rolstoel toegangkelijk"></span>
                                            }
                                            @if(showing.Is3D)
                                            {
                                                <span class="oi oi-people" aria-hidden="true" title="3D"></span>
                                            }
                                        </div>
                                        <div class="col-sm-6">
                                            <a href="@Url.Action("CreateStepOne", "Order", new { id = showing.Id })" class="btn btn-danger btn-block float-right">Reserveer</a>
                                        </div>
                                    </div>
                        
                                </div>
                            </div>
                        }
                    </div>
                </div>
        </div>
    </div>
</div>


