@model CinemaTicketSystem.Domain.Entities.Movie

@{
    ViewBag.Title = "Details";
}
<div>
    <h4>@Model.Name</h4>
    <hr />
    <table class="table-responsive">
        <tr>
            <td>
                <img src="@Model.ImageUrl" alt="@Model.Name" class="img-fluid" />

            </td>
                <td class="table-info">
                    <dl class="dl-horizontal">
                        <dt>
                            Jaar van uitgave
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.YearOfRelease)
                        </dd>

                        <dt>
                            Lengte in minuten
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.LengthInMinutes)
                        </dd>

                        <dt>
                            Gesproken Taal
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.SpokenLanguage)
                        </dd>

                        <dt>
                            Minimum leeftijd
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.MinimumAge)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Genre)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Genre)
                        </dd>
                    </dl>
                </td>
            </tr>
    </table>
</div>
<p>
    <a href="/">Terug naar overzicht</a> 
</p>
